In [1]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [2]:
import pandas as pd
import io

# read csv
train_df = pd.read_csv(io.StringIO(uploaded['train.csv'].decode('utf-8')))

# safety: limit number of rows to display
pd.set_option("display.max_rows", 5)

# look at data
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# select the MSSubClass feature
train_df.MSSubClass

0       60
1       20
        ..
1458    20
1459    20
Name: MSSubClass, Length: 1460, dtype: int64

In [4]:
# select the first value from LotFrontage column
train_df.LotFrontage[0]

65.0

In [6]:
# select the complete second row
train_df.iloc[1]

Id                    2
MSSubClass           20
                  ...
SaleCondition    Normal
SalePrice        181500
Name: 1, Length: 81, dtype: object

In [7]:
# select the first ten values from LotArea column
train_df.iloc[0:10, 4]

0    8450
1    9600
     ...
8    6120
9    7420
Name: LotArea, Length: 10, dtype: int64

In [10]:
# select the first and third rows
train_df.iloc[[0, 2]]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500

In [12]:
# select the first, third, and tenth row of the MSSubClass and Street columns
train_df.loc[[0, 2, 9], ['MSSubClass', 'Street']]

   MSSubClass Street
0          60   Pave
2          60   Pave
9         190   Pave

In [15]:
# use loc to select the first twenty rows of the LotFrontage and LotArea columns
train_df.loc[0:19, ['LotFrontage', 'LotArea']]

    LotFrontage  LotArea
0          65.0     8450
1          80.0     9600
..          ...      ...
18         66.0    13695
19         70.0     7560

[20 rows x 2 columns]

In [17]:
# use iloc to select the first twenty rows of the LotFrontage and LotArea columns
train_df.iloc[0:20, [3, 4]]

    LotFrontage  LotArea
0          65.0     8450
1          80.0     9600
..          ...      ...
18         66.0    13695
19         70.0     7560

[20 rows x 2 columns]

In [19]:
# select houses with MSSubClass of 70
train_df.loc[train_df.MSSubClass == 70]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,1441,70,RL,79.0,11526,Pave,NaN,IR1,Bnk,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,191000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500

In [22]:
# select houses with LotShape of Reg
train_df.loc[train_df.LotShape == 'Reg']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [21]:
# select house prices whose fence is not NaN
train_df.loc[train_df.Fence.notnull()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500

In [23]:
# select the Street colum for the last 10 houses
train_df.iloc[-10: , 5]

1450    Pave
1451    Pave
        ...
1458    Pave
1459    Pave
Name: Street, Length: 10, dtype: object

In [24]:
# select the LotArea column for houses with fence of MnPrv
train_df[train_df.Fence == 'MnPrv'].LotArea

5       14115
19       7560
        ...
1438     7407
1456    13175
Name: LotArea, Length: 157, dtype: int64

In [25]:
# select the LotArea column for houses with fence of MnPrv and LotArea >= 10000
train_df[(train_df.Fence == 'MnPrv') & (train_df.LotArea >= 10000)].LotArea

5       14115
79      10440
        ...
1409    20544
1456    13175
Name: LotArea, Length: 52, dtype: int64

In [26]:
# select houses with either a MnPrv or GdPrv fence whose SalePrice is >= 200000
train_df[train_df.Fence.isin(['MnPrv', 'GdPrv']) & (train_df.SalePrice >= 200000)]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
64,65,60,RL,NaN,9375,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,2,2009,WD,Normal,219500
113,114,20,RL,NaN,21000,Pave,NaN,Reg,Bnk,AllPub,...,0,NaN,MnPrv,NaN,0,10,2007,COD,Abnorml,217000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500

In [27]:
# select only LotArea of houses with either a MnPrv or GdPrv fence whose SalePrice is >= 200000
train_df[train_df.Fence.isin(['MnPrv', 'GdPrv']) & (train_df.SalePrice >= 200000)].LotArea

64       9375
113     21000
        ...
1456    13175
1457     9042
Name: LotArea, Length: 31, dtype: int64